.form_box {
  display: flex;
  flex-direction: column;
}

.form_box__expiry_code {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form_box__expiry_code input {
  width: 30%;
}

.form_box__expiry_code h5 {
  width: 50%;
  margin: 0px;
}

.form_box__expiry_code p {
  width: 50%;
  margin: 0px;
}
