.form_box {
  max-width: 450px;
  height: 500px;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  background-color: rgba(65, 65, 65, 0.658);
  border-radius: 10px;
}

.form_box h5 {
  margin: 0px;
  text-align: left;
}

.form_box input {
  width: 100%;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

.form_box p {
  margin: 0px;
  margin-bottom: 10px;
  text-align: left;
  color: rgb(255, 0, 0);
  font-size: 14px;
  text-shadow: 1px 1px 1px white;
}

.form_box__expiry_code {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.form_box__expiry_code input {
  width: 40%;
}

.form_box__expiry_code h5 {
  width: 50%;
  margin: 0px;
  text-align: center;
}

.form_box__expiry_code p {
  width: 50%;
  margin: 0px;
}

#cvv {
  width: 30%;
  text-align: center;
}

#validThrough_error {
  text-align: center;
}

#cvv_error {
  text-align: center;
}

.form_box button {
  margin: 0 auto;
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 5px;
  background-color: royalblue;
  color: white;
  font-family: inherit;
  font-size: 16px;
}

.form_box button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
